<div>
    <div>
        <input type="text" placeholder="Search" [(ngModel)]="searchTerm" (ngModelChange)="newSearch()" />
    </div>
    <ng-container *ngIf="(data$ | async) as productItems">
        <div *ngIf="productItems.length; else noItems" class="product-list">
            <p>Results found {{ productItems.length }}</p>
            <section class="flex">
                <section class="search-results">
                    <ul>
                        <li *ngFor="let item of productItems" (click)="selectItem(item)">
                            <h4>[{{ item.productCode }}] <span [innerHTML]="item.productName"></span></h4>
                            <p [innerHTML]="item.attributes"></p>
                        </li>
                    </ul>
                </section>
                <section class="product-info">
                    <div *ngIf="(singleItemData$ | async) as productDetail; else noItemSelected">
                        <h4 [innerHTML]="productDetail.productName"></h4>
                        <div *ngIf="productDetail.productPrice">Product Price: {{ productDetail.productPrice }}</div>
                        <br />
                        <div *ngIf="productDetail.attributes" [innerHTML]="productDetail.attributes"></div>
                        <hr>
                        <div *ngIf="productDetail.salePrice">Sale Price: {{ productDetail.salePrice }}</div>
                        <hr>
                        <div *ngIf="productDetail.tags">Tags: {{ productDetail.tags }}</div>
                    </div>
                    <ng-template #noItemSelected>
                        No item selected
                    </ng-template>
                </section>
            </section>
        </div>
        <ng-template #noItems>
            <div>
                No items
            </div>
        </ng-template>
    </ng-container>
</div>