:host {
    font-family: sans-serif;
    font-size: 0.85em;
}

input {
    padding: 0.5em;
    font-size: 1.25em;
}

ul {
    padding: 0;
    list-style-type: none;
    li {
        background: #eaeaea;
        padding: 0.25em 0.5em;
        margin-bottom: 0.25em;
    }
}

.product-info h4 {
    font-size: 2em;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .search-results,
    .product-info {
        width: 48%;
    }
}